*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

body {
    font-family: "Lato", sans-serif;
}

a:link, a:visited {
	text-decoration: none
}

.container {
    width: 90%;
    max-width: calc(100% - 72px);
   margin: 0 auto;
}

.header {
    width: 100%;
    height: 47px;
    margin: 21px 0;
}

.title-h1 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; 
}

.menu-ul {
    display: flex;
}

.menu-li a {
    margin: 0 10px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.dados-cabecalho {
    display: flex;
}

#pesquisa {
    width: 235px;
    height: 40px;
    background-image: url(lupa.png);
    background-color: #F2F2F2;
    background-repeat: no-repeat;
    background-position: 8px 10px;
    padding-left: 30px;
    border-radius: 50px;
    border: 0.9px solid #f3f3f3;
    margin-right: 23px;
}

.carrinho-compra {
    width: 42px;
    height: 42px;
    background-color: #F2F2F2;
    border-radius: 50px;
}

.carrinho-compra img {
    margin: 11px 12px;
}

.section {
    width: 100%;
    height: 600px;
}

.section-detalhes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px; 
}

.section-texto {
    width: 50%;
} 
.section-title-h2 {
    width: 400px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 84px;
    line-height: 110px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title-p {
    width: 439px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.section-img {
    align-items: center;
    background-size: cover;
    width: 520px;
    height: 520px;
    margin: 10px 65px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    border-radius: 258px;
}

.section-tenis {
    width: 780px;
    height: 512px;
    object-fit: contain;
    margin-left: -131px;
}

.btn {
    margin-top: 30px;
    width: 295px;
    height: 68px;
    border-radius: 14px;
    border: 0.9px solid #f3f3f3;
    margin-right: 23px;

    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

.container-itens {
    width: 100%;
    height: 640px;
    background: #ffffff;
    text-align: center;
    display: block;
}

.section-title-itens-h2 {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #1F1F1F;
}

.itens-color {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#color-branco {
    margin-right: 2px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: linear-gradient(270.06deg, #f8f8f8 20.97%, #FFFFFF 99.92%);
    border: 2px solid rgba(31, 31, 31, 0.7);
}

#color-dourado {
    margin-right: 2px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: linear-gradient(277.74deg, #FFE08D 9.16%, #FFB757 91.03%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

#color-cinza {
    margin-right: 2px;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background: linear-gradient(270.06deg, #464646 20.97%, #D3D3D3 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

#color-grafite {
    margin-right: 2px;
    width: 32px;
    border-radius: 50%;
    height: 32px;
    background: linear-gradient(270.06deg, #232323 20.97%, #000000 99.92%);
    opacity: 0.5;
    border: 2px solid #FFFFFF;
}

.image-tenis {
    width: 464px;
    height: 241.38px;
    display: block;
    margin-left: 32%;
}

.span-text {
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 28px;
    display: block;
    align-items: center;
    text-align: center;
    color: #1F1F1F;
}

.section-container {
    display: flex;
}

.section-h2 {   
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 64px;
    background: linear-gradient(270.06deg, #DADADA 20.97%, #9F9F9F 99.92%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#image-leveza-agilidade {
    width: 604px;
    height: 500px;
}

.section-text-p {
    width: 89%;
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}

#image-corre {
    width: 368px;
    height: 500px;
}

#image-parado {
    width: 222px;
    height: 500px;
    
}

.section-image-left {
    width: 60%;
}

.section-text {
    margin-left: 50px;
    width: 50.5%;
}

.section-text-right {
    width: 101%;
    margin-top: 30px;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #1F1F1F;
}